.block {
    background: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.inline-block {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}


/* Projects */

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #a6cdff;
}


/* Task */

.task {
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    margin: 10px 0;
    padding: 8px 8px;
    height: 110px;
}

.task-project {
    font-size: 12px;
    font-family: "Roboto Light", serif;
    color: #333333;

    margin: 3px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.task-title {
    font-size: 14px;
    font-family: "Roboto Light", serif;
    color: #333333;

    margin: 3px 0;
    min-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.label {
    font-size: 10pt;
    font-family: "Roboto Medium", serif;
    color: #4f4f4f;

    height: 19px;
    display: inline-block;
    background-color: #c4c4c4;
    border-radius: 100px;
    padding: 0 5px;
    margin: 0 2px;
}

.icon-padding-bottom {
    padding-bottom: 2px;
}
